body{
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
	background-color:lightgray;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
}

.navbar{
    background-color: #ffffff;
    width: 100%;
}

.header{
	border: 1px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #ffffff;
	border-color: #cccccc;
	height: 55px;
}
.header h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	float: left;
	padding: 25px;
	width:130px;
	height:5px;
	margin-left:40px;
	background-color: #4aaaa5;
	color: #ffffff;

}

.right h1{
	color: #4aaaa5;
	padding-bottom: 50px;
	text-align: center;
}

.left h1{
	color: #4aaaa5;
	padding-bottom: 10px;
	text-align: left;
}

.nav{
	float: right;
}

.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.nav ul li{
	float: left;
	padding: 8px;
	margin-right: 10px;
}

.nav ul a{
	display: block;
	text-decoration: none;
}

.mainContainer{
	clear: both;
	border: 2px;
	border-color: #dddddd;
	padding: 40px;
}

.left{
	float: left;
	border: solid;
	border-color: #cccccc;
	background-color: #ffffff;
	width: 50%;
}
.left img{
	width: 200px;
	height: 250px;
	float: left;
}

.right{
	float: left;
	border: solid;
	border-color: #cccccc;
	background-color: #ffffff;
	width: 15%;
	
}

.right a{
	padding: 10px;
	margin: 5px;
}
.footer{
	clear: both;
	background-color: #666666;
	text-align: center;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

@media only screen and (max-width: 500px) {
  .left{
	  width: 100%;
  }
  .right{
	  width: 100%;
  }
}